<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @ticket_type.event %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket_type.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ticket_type.category %>
</p>

<%= link_to 'Edit', edit_ticket_type_path(@ticket_type) %> |
<%= link_to 'Back', ticket_types_path %>
